/**git config --global user.email "maria.oliveira1@aluno.ifsp.edu.br"
git config --global user.name "Maria Eduarda de Oliveira"

font generator: https://html-css-js.com/css/generator/font/ **/

.colors{
    color:#172a38;
    color:#f48773;
    color:#ffb1a3;
    color:#ece2c1;
}

body{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
    letter-spacing: 0.4px;
    word-spacing: 1.4px;
    color:#172a38;
    font-weight: 400;
}

.h2{
    background-color:#ece2c1;
    color:#f48773;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    word-spacing: 3.2px;
    font-weight: 700;
    font-variant: small-caps;
}

#menu{
    width: 200px;
    background-color:#ece2c1;
}

.a{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
    letter-spacing: 0.4px;
    word-spacing: 1.4px;
    color:#f48773;
    font-weight: 400;
    text-decoration: unset;
}

.letter{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
    letter-spacing: 0.4px;
    word-spacing: 1.4px;
    color:#172a38;
    font-weight: 400;
}

#enviar{
    border: solid #172a38 1px;
    padding: 3px;
    background-color:#ffb1a3;
}

.lista{
    border:solid #172a38 1px;
    width: 1500px;
    text-align: center;
}

input[type="file"] { 
    display: none;
}

input[type="submit"] { 
    display: none;
}

#foto{
    border: solid #172a38 1px;
    padding: 3px;
    background-color:#ffb1a3;
}

.foto{
    width: 100px;
}