.h2{
    background-color:aliceblue;
    color:rgb(94, 64, 228);
}

#menu{
    width: 200px;
    background-color:aliceblue;
}

.a{
    color: black;
    text-decoration: unset;
}

.lista {
    border:solid black 1px;
    width: 500px;
    text-align: center;
}